<mat-toolbar color="primary" class="example-toolbar">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onMenuClicked()" style="margin-left:-4px; margin-right: 12px">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <h6 class="example-app-name">{{title}}</h6>
</mat-toolbar>



<div class="details-container">
    <p><a [routerLinkActive]="['primaryLink']" routerLink="/DesignPatterns">Design Patterns / Examples</a> > {{title}}</p>
    
    <mat-card>
        <h2>
            Repository
        </h2>
        <a class="repository-link"href={{item.git}} target="_blank" rel="noopener noreferrer">{{title}}</a>
        </mat-card>

    <mat-card>
        <mat-tab-group animationDuration="0ms" color=warn >
            <mat-tab label="Status" > 
                <mat-list class="flex-container">
                    <mat-list-item *ngFor="let n of item.Status">
                      <a href={{n.a}} target="_blank" rel="noopener noreferrer">
                        <img src={{n.img}} alt=""></a>
                      </mat-list-item>
                </mat-list>
           </mat-tab>
    
            <mat-tab label="Updated">
                <mat-list class="flex-container">
                    <mat-list-item *ngFor="let n of item.Updated">
                      <a href={{n.a}} target="_blank" rel="noopener noreferrer">
                        <img src={{n.img}} alt=""></a>
                      </mat-list-item>
                </mat-list>
           </mat-tab>
    
            <mat-tab label="Issues">
                <mat-list class="flex-container">
                    <mat-list-item *ngFor="let n of item.Issues">
                      <a href={{n.a}} target="_blank" rel="noopener noreferrer">
                        <img src={{n.img}} alt=""></a>
                      </mat-list-item>
                </mat-list>
              </mat-tab>
    
          </mat-tab-group>
    </mat-card>

      
</div>
