<mat-toolbar color="primary" class="example-toolbar">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onMenuClicked()" style="margin-left:-4px; margin-right: 12px">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <h6 class="example-app-name">{{title}}</h6>
</mat-toolbar>



<div class="details-container">
    <p><a [routerLinkActive]="['primaryLink']" routerLink="/DesignPatterns">Design Patterns / Examples</a> > {{title}}</p>
    
    <mat-card>
        <h2>
            Repository
        </h2>
        <a class="repository-link"href="https://github.com/pxblue/action-list" target="_blank" rel="noopener noreferrer">{{title}}</a>
        </mat-card>
    <mat-tab-group animationDuration="0ms" color=warn>
        <mat-tab label="Status" > 
          <div class="flex-container">
              <a href="https://circleci.com/gh/pxblue/action-list/tree/angular" target="_blank" rel="noopener noreferrer">
                <img src="https://img.shields.io/circleci/project/github/pxblue/action-list/angular.svg?label=angular&amp;style=flat" alt=""></a>
                <a href="https://circleci.com/gh/pxblue/action-list/tree/react" target="_blank" rel="noopener noreferrer">
                  <img src="https://img.shields.io/circleci/project/github/pxblue/action-list/react.svg?label=react&amp;style=flat" alt=""></a>    
      
          </div>
       </mat-tab>

        <mat-tab label="Updated">
            <div class="flex-container">
                <a href="https://github.com/pxblue/action-list/commits/angular" target="_blank" rel="noopener noreferrer">
                  <img src="https://img.shields.io/github/last-commit/pxblue/action-list/angular.svg?label=angular&amp;style=flat" alt=""></a>
                  <a href="https://github.com/pxblue/action-list/commits/react" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/github/last-commit/pxblue/action-list/react.svg?label=react&amp;style=flat" alt=""></a>  
            </div>
       </mat-tab>

        <mat-tab label="Issues">
            <div class="flex-container">
              <a  href="https://github.com/pxblue/action-list/issues?q=is%3Aissue+is%3Aopen+label%3Abug" target="_blank" rel="noopener noreferrer">
                <img src="https://img.shields.io/github/issues/pxblue/action-list/bug.svg?style=flat&amp;label=bugs" alt=""></a> 
          </div>
          </mat-tab>

      </mat-tab-group>
      
</div>
