
.container {
  padding: 40px;
}

.container h1, h2{
  color: #007bc1;
  padding-top:10px; 
}

.container h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container p{
  font-size: 17px;
}

@media screen and (max-width: 414px) {
  .container {
    padding: 15px;
  }

  .container h1, h2{
    padding-top: 0px; 
  }

  .container h1, h2{
    padding-top: 0px; 
  }

}