.details-container {
    margin: 30px 20px;
}

.mat-tab-label{
    font-size: 18px;
    font-weight: bolder;
}
@media screen and (max-width: 414px) {
    .mat-tab-label{
        font-size: 16px;
    }
}


.pxb-blue .mat-tab-group.mat-warn .mat-ink-bar {
    background-color: #007bc1;
}